  
   /* stolen from shittykickflips */
   @font-face {
    font-family: 'PC-98'; /*a name to be used later*/
    src: url('/assets/pc-9800.ttf'); /*URL to font*/
    }

  body {
    background: url("/assets/Floriano_Falls.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #000000;
    background-color: #000000;
    font-size: 18px;
    font-family: PC-98;
  }
 

/* removes bullet points yay */
ul {
    list-style-type: none;
}

/* the container to rule them all */
.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: autofit;
  margin: 10px;
}

/* funky header styling */
  .header-container {
    width: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 164px;
    grid-template-columns: autofit;
  }

  .headerimg {
    width:700px; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    box-shadow: #35311a 4px 4px;
  }

/* body container stuff below */
  .body-container {
    width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 0px repeat(4, 200px);
    grid-template-columns: 190px 700px;
    gap: 10px;
  }

 /* navigation bar styling section :D */

.naviheader {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: linear-gradient(to right, #fcffef, #d7e1fa, #d7def8);
    color:#264689;
    padding: 10px;
    padding-top: 15px;
    height: 20px;
    display: flex;
    align-items: center;
    box-shadow: #4c515c 2.5px 2.5px;
  }

.naviheaderimg {
    width: 24px; 
    height: 24; 
    padding-left: px; 
    padding-bottom: 11px; 
    vertical-align: middle;
}

.navicontent {
    background-color: #d7def8;
    padding: 10px;
    box-shadow: #4c515c 2.5px 2.5px
}

.naviimg {
    padding: 5px 0px 0px 5px; 
    width: 16px;
    height: 16px;
}

.navi-grid {
  grid-row: 1/2;
  grid-column: 1 / 1;
}

/* blinkies styling section :0 */
.blinkies-grid {
    background-image: url("/assets/content-background.png");
    grid-column: 1/1;
    border-style: solid;
    border-top-style: none;
    border-bottom-style: none;
    border-color: #d9d3b1;
    border-width: 5px;
    grid-row: 1/1;
    grid-column: 2/-1;
    margin-bottom: -10px;
    box-shadow: #35311a 4px 4px
}

/* main contents :3 */
  .content {
    padding: 10px;
    height: 100%;
    background-image: url("/assets/content-background.png");
    border-style: solid;
    border-top-style: none;
    border-color: #d9d3b1;
    border-width: 5px;
    box-shadow: #35311a 4px 4px
  }

  .content-grid {
    grid-row: 2/-1;
    grid-column: 2/-1
    
  }
/* guesbook bar styling section :D */
/*  .guestbook-grid {
    grid-row: 2/-1;
    grid-column: 2/-1
  }
  .guestbook {
    background: linear-gradient(#1e232a, #202228, #15161a);
    padding: 10px;
    height: 500px;
  }*/